$dark-body-bg: #101728;
$primary: #9340ff;
$link-color: #ffffff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/roboto-v30-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/**  Overright Dark Theme: **/

[data-theme=dark] {
  .card {
    background-color: $dark-body-bg;
  }
}

[data-theme=dark] a {
  color: #ffffff;
  text-decoration: underline;
}

[data-theme=dark] a:hover {
  color: #ffffff;
  text-decoration: underline;
}


/** Layout styling **/

html,
body {
  font-family: "Roboto", serif;
  line-height: 1.8em;
  scroll-padding-top: 8rem;
}

.container {
  max-width: 1000px;
}

.nav {
  background-color: $dark-body-bg;
}

.layout {
  background-color: #1e213a;
}

.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.max-60 {
  max-width: 60%;
}

@media (max-width: 768px) {
  .display-row {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .max-60 {
    max-width: 100%;
  }
}

// Font and Text:
.small-text {
  color: #c4c4c4;
  font-size: 0.8rem;
}

p,
ul,
ol {
  font-size: 1.2rem;
}

ol { ul { li {
  font-size: 1rem;
} } }

.link-inside-text {
  font-family: "Roboto", serif;
  font-size: 1.2rem;
  text-decoration: underline;
}

// Header:
.imgHeader {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.headerBackground {
  background-image: url("/media/img-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
  opacity: 0.8;
  margin: 0;
  .headLine {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  .socialIcons {
    a {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #1e213a;
  nav {
    min-height: 38px;
    max-width: 920px;

    padding: 8px 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px var(--shadow);
  }
  @media (max-width: 920px) {
    nav {
      border-radius: 0;
    }
  }
  a {
    padding: 6px 15px;
    color: var(--foreground);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
}

.homeContent {
  h1, h2 {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
  }
  summary {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Roboto", serif;
  }
  .row.section {
    margin: 4rem 0;
  }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img.flow {
    border-radius: 3rem;
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1rem #222a;
  }
  p,
  ul,
  ol {
    font-size: 1.2rem;
  }
}

// Footer:

footer {
  section.row {
    justify-content: space-between;
  }
}

// Horizontal Line

hr {
  height: 1px;
  background: white;
  border: none;
  outline: none;
  margin: 3em 3em 5em;
  position: relative;
  
  &:before {
    
    content: attr(data-symbol);
    position: absolute;
    top: 0;
    left: 50%;
    background: white;
    color: white;
    padding: 0.5em 3em;
  }
}

hr#one {
  width: 50%;
  margin: 3em auto;
}

// Buttons

.btn-grad {background-image: linear-gradient(to right, #7C1426 0%, #0F224D  51%, #7C1426  100%)}
.btn-grad {
   margin: 10px;
   border: none;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   text-decoration: none !important;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none !important;
 }


  .btn-grad {
    a {
      color: white !important;
      text-decoration: none !important;
    }
  }

/* team.css */
.team-section {
  padding: 20px 0px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 25%
}

.team-card-body {
  margin: 25px 25px;
  flex-grow: 2;
}

.team-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111623;
}

.team-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.team-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-size: smaller;
}

.team-info {
  color: #333;
  font-size: smaller;
  align-self: center;
  padding: 5px;
  border-top: 1px solid #111623;
  margin-bottom: 0 !important;
  width: 100%;
  line-height: normal;
  text-align: center;
}

.team-thesis {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-size: smaller;
  line-height: normal;
  margin-bottom: 5px !important;
}

.team-socialLinks {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.team-year {
  background-color: #c293ff;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 6px;
  font-weight: 700;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0 !important;
}

.team-link {
  text-decoration: transparent;
  background-color: #9340ff;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff !important;
  font-size: medium;
}

.team-linkUnderline {
  color: #9340ff !important;
  padding: 2px 0px;
  font-size: medium;

}

.team-content {
  font-size: 14px;
  color: #555;
}

.team-noData {
  font-size: 16px;
  color: #888;
}

@media (max-width: 768px) {
  .team-card-container {
    flex-direction: column; 
    align-items: center;
  }

  .team-image {
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
  }

  .team-year {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    margin: 0;
    writing-mode: vertical-lr;
  }

  .team-card {
    width: 100%;
    flex-direction: row;
  }

  .button-group {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }

  .team-info {
    border-left: 1px solid #111623;
    border-top: 0px;
    line-height: normal;
    text-align: start;
  }

  .headLine {
    font-size: 2rem !important;
  }
}

// FORM

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 800px;
  color: #ffffff;
  width: 100%;
  padding: 7px 0;
}

input::placeholder {
  opacity: 0.8;
  color: #ffffff;
}

.coolinput label.text {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #101728;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px #ffffff solid;
  border-radius: 5px;
  background: #101728;
  color: #ffffff;

}
.coolinput input[type=email].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px #ffffff solid;
  border-radius: 5px;
  background: #101728;
  color: #ffffff;
}

.coolinput input[type=text].input:focus {
  outline: none;
}